# Environment: dev or prod
ENV=dev
DEBUG=True

# Django Settings
DJANGO_SECRET_KEY=your-secret-key-here

# Database Settings (for prod)
DB_NAME=mjnnsutu_store
DB_USER=mjnnsutu_root
DB_PASSWORD=141778215aA!@#
DB_HOST=localhost
DB_PORT=3306

# API Keys
OPENAI_API_KEY=your-openai-api-key-here
